.nav-container {
    background-color: blue;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.nav-bar .nav-links {
    display: flex;
}

.nav-bar .nav-links li {
    text-decoration: none;
    padding: 10px;
    list-style: none;
    text-transform: uppercase;
}

.nav-bar .nav-links li:visited {
    color: inherit;
}

.nav-bar .nav-links li:active {
    color: inherit;
}

.link-path {
    text-decoration: inherit;
    color: inherit;
    margin: 1rem;
}

.nav-icons {
    font-size: 2.5rem;
    display: none;
}

@media screen and (max-width: 680px) {
    /* ul li{
        display: none;
    }
    .drop-down{
        display: block;
    }

    ul li.responsive{
        display: block;
    } */
}