.form-container {
    margin: 10px auto;
    background-color: #50a3a2;
    padding: 80px;
}

form {
    padding: 20px 1px;
}

input {
    display: block;
    width: 250px;
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.4);
    color: #fff;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

button {
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color: #50a3a2;
    width: 280px;
    font-size: 18px;
    appearance: none;
    outline: none;
}